* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}





.custom-form {
  position: relative;
  z-index: 1;
  background-color: #607D8B;
  width: 360px;
  height: auto;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px rgba(500, 500, 500, 0.9);
  border-radius: 20px;
  border: 1px dotted wheat;
}



.btn {
  margin-top: 20px;
  height: 30px;
  width: 200px;
  background-color:rgb(67,78,29);
  border: none;
  outline: none;

  border-radius: 8px;

  font-size: 18px;
  color: white;

  font-weight: 600;

  transition: background-color 1s ease-out 10ms;

  cursor: pointer;
}

.btn:hover{
  background: #289672;
}


.btn.btn-danger {
  background: hsl(0, 100%, 40%, 0.1);
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: hsl(0, 100%, 40%, 0.2);
}




.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li:has(input:checked) label {
  color: hsl(200, 20%, 40%);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
  width: 300px;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: hsl(200, 100%, 90%);
  border-radius: 0.25em;
  display: flex;

  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background: hsl(200, 100%, 80%);
}

.list li:has(input:checked) label::before {
  content: "✔";
  background: hsl(200, 100%, 40%);
  color: hsl(200, 100%, 90%);
  font-size: 0.75rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background: hsl(200, 100%, 30%);
}

.custom-page {

  height: 100vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./../asset/White-Aesthetic-Minimalist-Desktop-Organizer-Wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  background-color: rgba(73, 82, 60, 0);
  border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #0e1e70;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: rgb(255, 255, 255);
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  right: 0px;
  content: "";
  height: 100%;
  width: 100%;
  background: #0c1d74;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

.addLayout{
  display: flex;
  justify-content: center;
  margin-left: 70px;
  justify-content: space-around;
  width: 60px;
}
.addIcon{
  padding-top: 2px;
}

.btnDelete{
  background-color: red;
  color: black !important;
}

.btnDeleteIcon{
  height: 2px;
  padding-top: 2px;
}

.btnDeleteIconLayout{
  display: flex;
align-items: center;

 
}

.deleteIcon{
  padding-bottom: 1px !important;
}